$theme-color: #c23531;

body {
  //background: url("static/bg.jpg");
  background: url("static/black_bg.jpg");
  //background-repeat:no-repeat;
  background-size:cover;
  color: white;
  font-family: 微软雅黑;
}
